.App {
  text-align: center;
  min-height: 120vh;
  background: radial-gradient( #5680E9, #B4EADB );
  color: #ffffff;
  padding-bottom: 2vw;
  font-family: 'Raleway', sans-serif;
}

.Cardd {
  background-color: #5680E9;
  border: 3px solid #C1C8E4;
}

.titleFont {
  font-family: 'Lato', sans-serif;
}

.linkFont {
  font-weight: 600;
}

.Navv {
  background-color: #5680E9;
  font-weight: 600;
}

.Butt {
  background-color: white;
}