.App {
  text-align: center;
  min-height: 120vh;
  background-color: #f5f5f5;
  color: rgba(39, 46, 60, 0.85);
  padding-bottom: 2vw;
  font-family: 'Raleway', sans-serif;
}

.titleFont {
  font-family: 'Lato',  sans-serif;
}

.linkFont {
  font-weight: 600;
}

.Navv {
  background-color: #272E3C;
  font-weight: 600;
}